.card {
    margin-top: 50px;
    border-radius: 5%;
    border: none;
    text-align: center;
    &__title {
        &--special {
            font-family: $heading-special;
        }
    }
    &__img {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 641px) {}

@media (min-width: 961px) {}