.card-list {
    -webkit-box-shadow: $kit-shadow;
    box-shadow: $box-shadow;
    margin: 3% 5px;
    width: 100%;
    &__title {
        text-align: center;
        color: $text-color;
        margin-top: 20%;
    }
    &__img {
        width: 100%;
        height: 250px;
    }
    &__btn {
        width: 100%;
        margin: 20px auto;
    }
    &__text {
        color: $text-color;
    }
}

.detail {
    -webkit-box-shadow: $kit-shadow;
    box-shadow: $box-shadow;
    border: none;
    margin-top: 20px;
    &__head {
        background-color: $primary !important;
        color: $text-light !important;
    }
    &__title {
        text-align: center;
        margin: 20px 0px;
    }
    &__img {
        width: 100%;
        max-height: 400px;
    }
    &__map {
        width: 100%;
        height: 200px;
    }
    &__datepicker {
        width: 130px;
        border-radius: 5%;
        border-color: $primary;
        padding: 3px;
        text-align: center;
    }
    &__pickers {
        padding: 3px;
        text-align: center;
    }
    &__guests {
        border-radius: 50px;
        padding: 3px;
        border: 2px solid $primary;
    }
    &__btn {
        margin-top: 30px;
    }
    &__label {
        font-family: $font-special;
        text-align: center;
    }
    &__tabs {
        font-family: $font-special;
        padding: 10px 0px;
        margin: 10px;
    }
}

@media (min-width: 641px) {
    .card-list {
        &__title {
            width: 60px;
            margin-top: 20px;
        }
    }
}

@media (min-width: 961px) {
    .card-list {
        &__title {
            color: $text-color;
        }
        &__hotel {
            color: $text-color;
            margin-top: 20px;
            width: 200px;
            font-size: 20px !important;
        }
        &__img {
            max-height: 200px;
        }
        &__btn {
            width: 150px;
        }
        &__text {
            color: $text-color;
        }
    }
}