.contact {
    background: url('../../images/bryggen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 20px 0px;
    &__content {
        background: $light-bg;
        padding: 5px;
        margin: 50px 0px;
    }
}

@media (min-width: 641px) {}

@media (min-width: 961px) {
    .contact {
        &__content {
            padding: 30px;
            margin: 150px 0px;
        }
    }
}