.rbt .dropdown-menu {
    background-color: $primary;
}

.rbt .dropdown-menu .dropdown-item {
    background-color: $primary;
}

.slider {
    color: $text-light;
    &__title {
        color: $text-light;
        margin-top: 5%;
        text-align: center;
    }
    &__range {
        width: 100%;
    }
}

.search {
    margin: 9% 3% 0px 3%;
    color: $text-light;
    background-color: $primary;
    &__link {
        width: 100%;
        color: $text-light;
        &:hover {
            color: $link-hover;
        }
    }
}

.filter {
    background-color: $primary;
    padding: 15px;
    border-radius: 20px;
    color: $text-light;
    margin: 10% 0 3% 0;
    &__title {
        text-align: center;
    }
}

@media (min-width: 641px) {}

@media (min-width: 961px) {}