.filter {
    margin-top: 50px;
    &__title {
        text-align: center;
        margin-bottom: 50px;
    }
}

.search-link {
    width: 100%;
    color: $text-color;
}

@media (min-width: 641px) {}

@media (min-width: 961px) {}