body {
    background-color: $light-bg;
}

.MuiContainer-root {
    padding: 0;
}

.google-map {
    height: 500px;
}

.content {
    margin: 70px 0;
}

.list-group-item {
    background-color: inherit;
}

@media (min-width: 641px) {}

@media (min-width: 961px) {
    .content {
        margin: 120px 0;
    }
}