body {
    padding: 0px;
    margin: 0px;
}

.content {
    padding: 70px 0;
    &__hr {
        background-color: $primary;
        margin: 1% auto;
    }
}

.App {
    background-color: $light;
    padding-top: 1px;
}

@media (min-width: 641px) {}

@media (min-width: 961px) {
    .content {
        margin: 120px 0;
    }
}