body {
    padding: 0px;
    margin: 0px;
}

.content {
    padding: 70px 0;
    &__hr {
        background-color: $primary;
        margin: 1% auto;
    }
}

@media (min-width: 961px) {
    .content {
        padding: 150px 0;
    }
}