.home-banner {
    background: url('../../images/night-city.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 10px 0px;
    &__content {
        border: $dark-border;
        padding: 10%;
        backdrop-filter: blur(5px) brightness(80%);
        margin: 50px 0px;
        text-align: center;
    }
    &__title {
        color: $text-light;
        font-size: $heading-home-m;
    }
    &__text {
        color: $text-light;
        margin: 30px 0px;
    }
    &__btn {
        margin-top: 10%;
    }
}

.home-info {
    &__text {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 641px) {
    .home-banner {
        &__content {
            margin: 100px 0px;
        }
        &__title {
            font-size: $heading-home-t;
        }
    }
}

@media (min-width: 961px) {
    .home-banner {
        &__content {
            padding: 100px;
        }
        &__title {
            font-size: $heading-home-d;
        }
    }
}