.btn {
    padding: 3px;
    font-size: $btn-text-m;
}

//utilities
//center spinner
.spinner {
    margin-left: 50%;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

@media (min-width: 641px) {
    .btn {
        font-size: $btn-text-t;
        padding: 5px;
    }
}

@media (min-width: 961px) {
    .btn {
        font-size: $btn-text-d;
    }
}