//the different buttons styles on the site
.btn {
    padding: 7px !important;
    font-size: $btn-text-m;
    &:hover {
        cursor: pointer;
    }
    &__primary {
        border: $btn-border !important;
        color: $text-color !important;
        &:hover {
            background-color: $btn-hover !important;
            color: $text-light !important;
        }
    }
    &__secondary {
        border: $btn-border !important;
        color: $text-color !important;
        &:hover {
            background-color: $btn-hover !important;
            color: $text-light !important;
        }
    }
    &__action {
        background-color: $btn-action !important;
        color: $text-light !important;
        &:hover {
            background-color: $btn-action-hover !important;
        }
    }
}

//utilities
//center spinner
.spinner {
    margin-left: 50%;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

@media (min-width: 641px) {
    .btn {
        font-size: $btn-text-t;
        padding: 5px;
    }
}

@media (min-width: 961px) {
    .btn {
        font-size: $btn-text-d;
    }
}