.icons {
    font-size: 30px;
    color: $nav-bg;
    margin: 5px;
    float: left;
}

//the different buttons styles on the site
.btn {
    padding: 7px;
    font-size: $btn-text-m;
    &:hover {
        cursor: pointer;
    }
    &__primary {
        border: $btn-border;
        color: $text-color;
        &:hover {
            background-color: $btn-hover;
            color: $text-light;
        }
    }
    &__secondary {
        border: $btn-border;
        color: $text-color;
        &:hover {
            background-color: $btn-hover;
            color: $text-light;
        }
    }
    &__action {
        background-color: $btn-action;
        color: $text-light;
        &:hover {
            background-color: $btn-action-hover;
        }
    }
}

//utilities
//center spinner
.spinner {
    margin-left: 50%;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

@media (min-width: 641px) {
    .btn {
        font-size: $btn-text-t;
        padding: 5px;
    }
}

@media (min-width: 961px) {
    .btn {
        font-size: $btn-text-d;
    }
}