.map-specific {
    height: 150px;
}

.google-map {
    height: 170px;
    -webkit-box-shadow: $kit-shadow;
    box-shadow: $box-shadow;
    margin-top: 20px;
}

@media (min-width: 641px) {
    .google-map {
        height: 200px;
    }
}

@media (min-width: 1000px) {
    .map-specific {
        height: 250px;
    }
    .google-map {
        height: 600px;
    }
}