//Nav
.logo {
    width: 50%;
}

.navbar {
    background-color: $nav-bg;
    text-align: center;
}

.navbar a {
    color: $text-light;
}

.navbar-nav a {
    margin-left: 10px;
    &:hover {
        background-color: red;
    }
}

.dropdown-menu {
    background-color: $nav-bg;
    margin-right: 100px;
    &__btn {
        width: 100%;
    }
}

//footer
.footer {
    background-color: $footer-bg;
    color: $text-light;
    &__title {
        text-decoration: underline red 2px;
    }
}

@media (min-width: 641px) {}

@media (min-width: 961px) {}