//Nav
.logo {
    width: 100px;
}

.navbar .dropdown-menu {
    background-color: $primary;
    text-align: center;
}

.nav {
    background-color: $primary;
    text-align: center;
    a {
        color: $light;
        &:hover {
            color: $hover-a;
            text-decoration: underline;
            text-align: center;
            background-color: $primary;
        }
    }
}

.menu {
    a {
        color: $light !important;
    }
}

//footer
.footer {
    background-color: $primary;
    color: $text-light;
    text-align: center;
    padding-top: 30px;
    li {
        color: $light;
        margin: 10px 0px;
    }
    &__title {
        margin: 20px 0;
    }
    &__c {
        background-color: $copyright-bg;
        margin-top: 5%;
        text-align: center;
        padding: 10px;
    }
    &__hr {
        width: 60%;
        padding-top: 0;
        background-color: $light;
    }
}

@media (min-width: 641px) {
    //Nav
    .logo {
        width: 120px;
    }
}

@media (min-width: 961px) {
    //Nav
    .logo {
        width: 150px;
    }
}