//Nav
.logo {
    width: 50%;
}

.navbar {
    background-color: $nav-bg;
    text-align: center;
    margin-bottom: 100px;
}

.navbar a {
    color: $text-light;
}

.navbar-nav a {
    margin-left: 10px;
}

.dropdown-menu {
    background-color: $nav-bg;
    margin-right: 100px;
    &__btn {
        width: 100%;
    }
}

//footer
.footer {
    background-color: $footer-bg;
    color: $text-light;
    position: relative;
    margin-top: 150px;
    padding-top: 20px;
    &__title {
        text-decoration: underline red 2px;
    }
    &__c {
        background-color: $copyright-bg;
        margin-top: 10px;
        text-align: center;
        padding: 10px;
    }
}

@media (min-width: 641px) {}

@media (min-width: 961px) {}