/* Color Theme Swatches in Hex
$Game-of-thrones-1-hex: #A2C0DC;
$Game-of-thrones-2-hex: #284C58;
$Game-of-thrones-3-hex: #4C7B8D;
$Game-of-thrones-4-hex: #EEF8FA;
$Game-of-thrones-5-hex: #0A0C0E;/*

/*font*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@400;600&family=Open+Sans&display=swap');
$heading-stack: 'Nunito',
sans-serif;
$font-special: 'Lobster',
cursive;
$font-stack: 'Open Sans',
sans-serif;

/*font size*/

$heading-home-m: 30px;
$heading-home-t: 40px;
$heading-home-d: 50px;
$heading-size-m: 16px;
$heading-size-t: 24px;
$heading-size-d: 40px;
$sub-heading-d: 10px;
$sub-heading-t: 16px;
$sub-heading-m: 14px;
$nav-text-d: 16px;
$nav-text-m: 14px;
$nav-text-t: 13px;
$body-text-d: 16px;
$body-text-t: 14px;
$body-text-m: 12px;
$btn-text-d: 16px;
$btn-text-t: 14px;
$btn-text-m: 12px;

/*colours*/

//btns
$btn-color: #2b528f;
$btn-action: #a6082a;
$btn-action-hover: #ce1d37;
$btn-hover: #4d748c;
$btn-border: 1px solid #2b528f;
$btn-border-light: 1px solid #ebebeb;
//text
$text-light: #ebebeb;
$text-color: #2e2e2e;
$link-hover: #fff;
$hover-a: #fff;
//shadows
$kit-shadow: 0px 1px 2px 1px rgba(0,
0,
0,
0.94);
$box-shadow: 0 2px 2px 0 rgba(0,
0,
0,
0.14),
0 1px 5px 0 rgba(0,
0,
0,
0.12),
0 3px 1px -2px rgba(0,
0,
0,
0.2);
//bg-colors
$primary-bg: #00103d;
$copyright-bg: #070727;
$body-bg: #f7f7f7;
$footer-nav-bg: #00103d;
$light-bg: #f7f7f7;